<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Flashcards App</h1>
        <button onclick="location.href='/create'">Crear Tarjetas</button>
        <button onclick="location.href='/practice'">Practicar</button>
        <button onclick="location.href='/view'">Ver Tarjetas</button>
    </div>
</body>
</html>
