<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Flashcards</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Tarjetas Guardadas</h1>
        <ul>
            {% for card in flashcards %}
            <li>
                <strong>Frontal:</strong> {{ card['front'] }} <br>
                <strong>Trasera:</strong> {{ card['back'] }}
            </li>
            {% endfor %}
        </ul>
        <button onclick="location.href='/'">Volver</button>
    </div>
</body>
</html>
